@font-face {
    font-family: monogram;
    src: url(/fonts/monogram.ttf);
}

body {
    font-family: monogram, monospace;
    font-size: 2rem;
    overflow: hidden;
    background-color: #311047;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

#logo {
    width: 20%;
    margin: 0.5em 0;
    color: #ffd700;
    z-index: 10;
}

#textbox {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 2vh;
    min-height: 10vh;
    background: white;
    border-radius: 3px;
    outline-style: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
    /* overflow: auto; */
}

#dialogue h2, #dialogue p {
    padding: 0;
    margin: 0 0 1rem 0;
}

.ui-text {
    margin: 0;
    user-select: none;
}

.ui-close-btn {
    font-family: monogram, monospace;
    border-style: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
}

.btn-container {
    align-self: flex-end;
    margin-top: 1rem;
}

.note {
    position: absolute;
    left: 5%;
    top: 1vh;
    color: rgb(238, 238, 238);
}

.button {
    font-family: monogram, monospace;
    background-color: grey;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 4px;
}

#show-world-map {
    font-family: monogram, monospace;
    position: absolute;
    right: 2vh;
    bottom: 2vh;
}

#starting-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#character-container {
    background-color: rosybrown;
    border-radius: 5px;
    padding: 1px;
}

#starting-screen {
    text-align: center;
    color: #ffd700;
}

.character {
    position: relative;
    display: inline-block;
    border: 3px solid transparent;
    padding: 10px;
    margin: 1em;
    cursor: pointer;
    image-rendering: pixelated;
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.character img {
    height: 200px;
}

.character:hover {
    transform: scale(1.1);
}

.character.selected {
    border-color: #ffd700;
    box-shadow: 0 0 10px 3px #ffd700;
    transform: scale(1.1);
}

select, input {
    font-family: 'Monogram', monospace;
    font-size: 30px;
    padding: 5px;
    border: 3px solid #000;
    background-color: #fff;
    color: #000;
    appearance: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    text-align-last: center;
    box-sizing: border-box;
}

select:hover, input:hover {
    background-color: #e0e0e0;
}

select:focus, input:focus {
    border-color: #ffcc00;
}

.during-game {
    display: none;
}

.settings-container {
    margin: 0.5em 0;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

input[type="range"] {
    padding-left: 0;
    padding-right: 0;
    -webkit-appearance: none;
    appearance: none;
    height: 60%;
    background: #000;
    border: 2px solid #ffcc00;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #000;
    border: none;
    cursor: pointer;
}

input[type="range"]:focus {
    border-color: #000;
}